<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/yangwen27/zl/blob/master/ZongLiGuoJi.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/xxx/raw/master/ZongLiGuo</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/xxx/raw/master/ZongLiGuo</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.TaoJing.ZhongLiGuoJi</string>
				<key>bundle-version</key>
				<string>1.03</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ZongLiGuoJi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
